@model MvcMovie.Models.MovieCastViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="actor.ID" />
            <div class="form-group">
                <label asp-for="actor.Name" class="control-label"></label>
                <input asp-for="actor.Name" class="form-control" />
                <span asp-validation-for="actor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actor.BirthDate" class="control-label"></label>
                <input asp-for="actor.BirthDate" class="form-control" />
                <span asp-validation-for="actor.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actor.Hometown" class="control-label"></label>
                <input asp-for="actor.Hometown" class="form-control" />
                <span asp-validation-for="actor.Hometown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actor.BirthName" class="control-label"></label>
                <input asp-for="actor.BirthName" class="form-control" />
                <span asp-validation-for="actor.BirthName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<h4>Movie Roles</h4>
<form id="myForm" name="myForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table table-striped" id="rolesTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Character</th>
                <th></th>
            </tr>
        </thead>
        <tbody><!--Display all roles for Actor-->
            @foreach (var item in Model.roles)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Movie, "Details", "Movies", new { title = item.Movie })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Character)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "MovieRoles", new { actorName = item.Actor, movieTitle = item.Movie })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr id="btn-row"><!--Button to toggle new row-->
                <td>
                    <button type="button" class="btn btn-default" id="addRole">Add</button>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr id="addRow"><!--Hidden new row-->
                <td>
                    <select asp-for="newMovie" asp-items="Model.movies" class="form-control" form="myForm" id="newMovie"></select>
                </td>
                <td>
                    <div class="form-group">
                        <input asp-for="newRole" class="form-control" type="text" name="newRole" id="newRole" form="myForm" />
                        <span asp-validation-for="newRole" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <button type="reset" class="btn btn-primary" id="save" form="myForm">Save</button>
                    <button type="reset" class="btn btn-default" id="cancel" form="myForm">Cancel</button>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
<div class="alert alert-info fade out" id="bsalert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> This alert box could indicate a neutral informative or action
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            //JS to toggle new row
            $('#addRow').toggle();

            $('#addRole').on('click', () => {
                $('#addRow').toggle();
                $('#btn-row').toggle();
                $('input[name="newRole"]').rules("add", {
                    required: true

                })
            });

            $('#cancel').on('click', () => {
                $('#addRow').toggle();
                $('#btn-row').toggle();
            });

            //Ajax call to create a new MovieRole
            $('#save').click(function () {
                //JQuery Validation
                if ($('#myForm').valid()) {
                    $.ajax({
                        type: 'POST',
                        dataType: 'Json',
                        url: '@Url.Action("Create", "MovieRoles")',
                        data: {
                            newRole: $('#newRole').val(),
                            newActor: '@Model.actor.Name',
                            newMovie: $('#newMovie').val()
                        },
                        success: function (response) {
                            alert('Success! Added new role.')
                            location.reload();
                        },
                        error: function (response) {
                            alert('error');
                        }
                    })
                }
            });
        });
    </script>
}
